@import "tailwindcss";

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

p,
span {
    color: #333;
}

h1 {
    color: #ffffff; 
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 22px;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: inherit;
    color: #333;
}

.texto-branco {
    color: #ffffff;
}

.borda-branca {
    border: solid 1px #fff;
    border-radius: 5px;
}

.borda-preta {
    border: solid 1px #333;
    border-radius: 5px;
}

.borda-vermelha {
    border: solid 1px #f00;
    border-radius: 5px;
}

.login-form {
    position: relative;
}

.input-container,
.textarea-container {
    position: relative;
}

.msg-sucesso {
    font-size: 12px;
    color: #2a9ee2;
    background-color: transparent;
    margin-bottom: .8rem;
}

.msg-erro {
    font-size: 12px;
    color: red;
    background-color: transparent;
    margin-bottom: .8rem;
}

.input-container .msg-erro-azul,
.textarea-container .msg-erro-azul {
    background-color: #2a9ee2;
    padding: 3px;
    position: absolute;
    font-size: 12px;
    color: red;
}

.input-container .msg-erro-azul {
    right: 10px;
    top: 36px;
}

.textarea-container .msg-erro-azul {
    right: 10px;
    top: 50px;
}

.input-container .msg-erro-branco,
.textarea-container .msg-erro-branco {
    position: absolute;
    background-color: #fff;
    padding: 3px;
    font-size: 12px;
    color: red;
}

.input-container .msg-erro-branco {
    right: 10px;
    top: 36px;
}

.textarea-container .msg-erro-branco {
    right: 10px;
    top: 50px;
}

button {
    background-color: #7ab829;
    cursor: pointer;
    color: #fff;
}

/* button:hover {
    background-color: #6ea22c;
} */

::placeholder {
    color: #333333;
    opacity: 1;
}

/* --- NAVBAR (atualizado com flexbox) --- */
.topo {
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 0 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    width: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
}

.menu a:hover {
    color: #268fd0;
}

/* --- CONTEÚDO PRINCIPAL --- */
.conteudo-destaque {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    display: flex;
}

.esquerda {
    background-color: #268fd0;
    width: 60%;
    height: 100%;
}

.direita {
    background-color: #2a9ee2;
    width: 40%;
    height: 100%;
}


.informacoes,
.contato {
    margin: 40px;
}

.contato-principal {
    margin: 0px 60px;
}

.chamada {
    margin-top: 30px;
    margin-left: 20px;
}

.video {
    margin: 40px;
}

.video img {
    max-width: 100%;
    max-height: 100%;
}

/* --- CONTEÚDO DAS PÁGINAS INTERNAS --- */
.conteudo-pagina {
    flex: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 160px;
}

.titulo-pagina {
    margin: 0;
    padding: 40px 0;
    background-color: #2a9ee2;
    text-align: center;
}

.titulo-pagina h1 {
    margin: 0;
    color: #ffffff;
    font-size: 28px;
}

.informacao-pagina {
    text-align: center;
    margin-top: 30px;
}

.informacao-pagina p {
    color: #333;
}

ul {
    display: flex;
    gap: 1rem; 
}

/* --- RODAPÉ --- */

.rodape {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.redes-sociais,
.area-contato,
.localizacao {
    width: 33.333%;
    text-align: center;
}

.redes-sociais p,
.area-contato p,
.localizacao p,
.redes-sociais span,
.area-contato span,
.localizacao span {
    color: #333333;
}

.redes-sociais img {
    margin: 0px 15px 0px 15px;
}
